<style>
*{}
#fontetexto{font-family:'Roboto',sans-serif;font-size:18px;font-style:normal;font-variant:normal;font-weight:700;} 

/*search*/
.jdvsearch {
  padding: 25px 0px;
  position:absolute;
  top: 0;
  left: 377px;
width:812px;
  height: 400px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 10000000;
}
.jdvsearch.active {
  transform: translateX(-20%);
}
.toggle2 {
  border: none;
  cursor: pointer;
  font-size: 22px;
  width:60px;
  height:45px;
  position:absolute;
  top: 10px;
  Left:-100px;
  transform: translateX(-100%);
  background:none;
  color: #fff;
}
.jdvsearch.active .toggle2{
top:0px;
width:70px;
height:65px;
left:70px;
color:black;
background:url("https://762228e942.cbaul-cdnwnd.com/a39c552995a62183d70e3480929e57d4/200000012-26dfe26dff/anterior.svg?ph=762228e942") center no-repeat;
  background-size: 27px;
text-indent: -10000px;
}
.search-box{
width:100%;
margin-left:10px;
}
#resultados{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
width:100%;
margin-top:-25px;
margin-left:-5px;
}

#searchbj[type=search]{
    text-align: left;
    border: none;
    padding: 0 85px;
    font-size: 19px;
    box-shadow: 0 2px 4px #DDD;
    width: 100%;
height:63px;
    outline: none;
    display: block;
    color: #000000;
    margin: 0 auto 7px;
font-family:'roboto','sans-sarif';
}

td{
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: left;
height:auto;
overflow: none;
}
td th {
    width:100px;
    margin-left:5px;
    display: inline-block;
    padding: 5px 5px;
    background-color: #f2f2f2;
    margin-bottom: 3px;
    height:140px;
    border-radius:7px 7px 0 0;
    transition: 0.3s;
}
td th a{
    height:110px;
    Width:90px;
    left: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    
}
td th a h2{
margin-top:5px;
text-align:left;
background:#f2f2f2;
width:100px;
margin-left:-5px;
border-radius:0 0 5px 5px;
}
td th a p{
display:none;
margin-left:100px;
}
td th a img{
height:100%;
width:90px;
}
td th:hover{
    background-color:#d8f2f1;
}
.search-box h3 {
  margin-top:-27px;
  height:69px;
  width:100%; 
  z-index:3;
  margin-left:-10px;
}
 .show{display:block}
.input-jdvtv{background:#F5F6FA;  line-height:20px; width:100%; height: 67px; padding:0 80px; font-size: 20px; margin: 0px 0; border:none; outline:none; color:#d11507; box-shadow: 0 0 4px #85888C; }
.input-jdvtv::-webkit-input-placeholder { font-family: FontAwesome; font-weight: normal; font-size: 20px; overflow: visible; color: #000000; }
 .input-jdvtv::-moz-placeholder { font-family: FontAwesome; font-weight: normal; overflow: visible; color: #000000; }
 .input-jdvtv:-ms-input-placeholder { font-family: FontAwesome; font-weight: normal; overflow: visible; color: #000000; } 

.tabela{padding:0 20px; background: #f6f6f6; border-radius:0 0 4px 4px; font-size:16px;font-weight:700;margin-top:-1.5px;line-height:30px; height:auto;} 
.tabela li{ list-style:none; height:30px; } 
.tabela ul{ margin-top:0px; } 
.tabela a{ margin-left:0px; } a{text-decoration:none}

li em {
  color:#d11507;
  background:#F5A9A9;
  font-weight:bold;
  font-style:normal;
  border-radius:5px;
}
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 0;
  background: url("https://762228e942.cbaul-cdnwnd.com/a39c552995a62183d70e3480929e57d4/200000014-5600456006/IMG_20230223_192602.svg?ph=762228e942")
    center no-repeat;
  background-size: 27px;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
margin-right:-60px;
}
@media screen and (max-width: 1024px){
.jdvsearch{
 left: 368px;
width:768px;
}
.toggle2{
Left:-110px;
}
.search-box{
width:811px;
}
}
@media screen and (max-width: 1000px){
.jdvsearch{
 left: 365px;
width:750px;
}
.toggle2{
Left:-145px;
}
.search-box{
width:765px;
}
}
@media screen and (max-width: 900px){
.jdvsearch{
 left: 155px;
width:800px;
}
.toggle2{
Left:-55px;
}
.search-box{
width:910px;
}
td{
height:360px;
overflow: auto;
}
td th{
margin-left:0;
display:block;
width:100%;
border-radius:7px;
height:120px;
}
td th a{
    height:110px;
    Width:100%;
    left: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    
}
td th a h2{
margin-top:-105px;
text-align:center;
background:none;
width:auto;
margin-left:0;
}
td th a p{
margin-left:100px;
display:block;
}
}
@media screen and (max-width: 800px){
.jdvsearch{
 left: 135px;
width:700px;
}
.toggle2{
Left:-45px;
}
.search-box{
width:810px;
}
}
@media screen and (max-width: 768px){
.jdvsearch{
 left: 128px;
width:668px;
}
.toggle2{
Left:-35px;
}
.search-box{
width:778px;
}
}
@media screen and (max-width: 700px){
.jdvsearch{
 left: 115px;
width:605px;
}
.toggle2{
Left:-25px;
}
.search-box{
width:710px;
}
}
@media screen and (max-width: 600px){
.jdvsearch{
 left: 98px;
width:520px;
}
.toggle2{
Left:-25px;
}
.search-box{
width:610px;
}
}
@media screen and (max-width: 568px){
.jdvsearch{
 left: 85px;
width:486px;
}
.toggle2{
Left:-10px;
}
.search-box{
width:578px;
}
}
@media screen and (max-width: 520px){
.jdvsearch{
 left: 80px;
width:440px;
}
.toggle2{
Left:-10px;
}
.search-box{
width:530px;
}
}
@media screen and (max-width: 480px){
.jdvsearch{
 left: 75px;
width:410px;
}
.toggle2{
Left:-10px;
}
.search-box{
width:490px;
}
}
@media screen and (max-width: 440px){
.jdvsearch{
 left: 70px;
width:370px;
}
.toggle2{
Left:-10px;
}
.search-box{
width:450px;
}
}
@media screen and (max-width: 414px){
.jdvsearch{
 left: 65px;
width:350px;
}
.toggle2{
Left:-10px;
}
.search-box{
width:422px;
}
}
@media screen and (max-width: 412px){
.jdvsearch{
 left: 65px;
width:350px;
}
.toggle2{
Left:-10px;
}
.search-box{
width:422px;
}
}
@media screen and (max-width: 393px){
.jdvsearch{
 left: 63px;
width:355px;
}
.toggle2{
Left:-30px;
}
.search-box{
width:405px;
}
}
@media screen and (max-width: 375px){
.jdvsearch{
 left: 62px;
width:335px;
}
.toggle2{
Left:-30px;
}
.search-box{
width:385px;
}
}
@media screen and (max-width: 360px){
.jdvsearch{
 left: 60px;
width:320px;
}
.toggle2{
Left:-20px;
}
.search-box{
width:370px;
}
}
@media screen and (max-width: 320px){
.jdvsearch{
 left: 60px;
width:320px;
}
.toggle2{
Left:-65px;
}
.search-box{
width:330px;
}
}
@media screen and (max-width: 300px){
.jdvsearch{
 left: 60px;
width:320px;
}
.toggle2{
Left:-85px;
}
.search-box{
width:310px;
}
}
</style>
