<style> 
*{}
 * { box-sizing: inherit; }
header{display:none}body{height:0vh;background:#000115;cursor:none}
 
/* PRELOADER CSS */ 
.page-loader{width: 100%; height: 100%; 	position: fixed; background: #FFFCFCFF; 	z-index: 1000; right:0; left:0; } 
.txt{ color: #666; text-align: center; top: 45%; left:0; right:0; position: fixed; text-transform: uppercase; 		letter-spacing: 0.3rem; font-weight: bold; line-height: 1.5; 	} 
@media screen and (max-width:600px){ 
.txt{ top:50%; } } 
@media screen and (max-width:520px){ 
.txt{ top:65%; } } 

/* SPINNER ANIMATION */ 
.spinner {position: fixed; top: 27%; width: 100%; height: 80px left:0; right:0; background-color: none; border-radius: 100%; }
.content1 { width: 100%; margin: 0 auto; 	top: 35%; position: relative; }
 
/*PAGINAÇÃO JDVPLUS*/ 
.column5 {float: left; width: 100.00%; margin-top:0px; background: none; border-radius:10px; border:2px solid none; padding: 1px;}
 img {vertical-align: middle; border-radius: 10px; }
.movies-title { margin:0px; text-align:left; padding: 0px 5px; border-radius: 4px 4px 0 4px; background-color: #d11507; color:#fff; line-height: 45px; border-top:none; border-bottom:none; border-right:none; border-left:6px solid #088A68; width: 100%; height:45px; margin-top: 7px; }
 .column1 h1{ position:absolute; margin-left:4px; width:60px; margin-top:5px; color: #fff; line-height: 25px; background: #088A68; border-radius:7px; opacity: 0.8; }
 .column1 h2{ position:absolute; margin-left: 4px; width:100px; margin-top:-30px; color: #fff; line-height: 25px; background: #088A68; border-radius:7px; opacity: 0.8; }
 .column1 { opacity:0.9; float:left; width: 19%; padding: 0px; margin-top:0.8%; margin-left: 0.85%; border:2px solid #d11507; border-radius: 10px 10px 10px 0; font-size: 15px; color:#fff; background:#d11507; image-rendering:auto; -moz-transition: all 0.3s; 	-webkit-transition: all 0.3s; 	transition: all 0.3s; }
 .column1:hover{ background: #088A68; border:2px solid #088A68; -moz-transform: scale(1.05); 	-webkit-transform: scale(1.05); 	transform: scale(1.05); }
 .row2{ background: #8b0000; margin-top: 1%; border-radius: 10px 10px 10px 0; padding: 0px 0px 9px 0px; }

#paginacao1,#paginacao2,#paginacao3,#paginacao4 { opacity: 0; margin-top:-90px; position: absolute; } 
 .box-paginacao { width: 100%; height: auto; float: left; }
 .box-paginacao .box-vitrines { width: 100%; height: 1190px; float: center; overflow: hidden; position: relative; } 
.box-paginacao ul { width: 100%; height: auto; float: center; margin: 0; padding: 0; list-style: none; }
 .box-paginacao .vitrine1, .box-paginacao .vitrine2, .box-paginacao .vitrine3, .box-paginacao .vitrine4 { margin-top:0px; width: 100%; height: 2000px; float: center; margin-bottom: 43px; margin-left:0px; }

 .btn-paginacao { background: #088A68; border-radius:4px; width: 100%; height: 50px; float: center; align-items: center; justify-content: center; z-index: 1; left: 0; bottom:40px; position:absolute;} 
.btn-ul { left:0; right:0; margin-top:5px; width: auto; height: auto; } 
.btn-li{ width: 35px; height: 35px; display: inline-block; margin: 0 15px 0 0; border: 0; list-style:none; } 
.btn-li:last-child { margin: 0; } 
.btn-ul label { margin-left:0; margin-right:0; width: 35px; height: 35px; float: left; text-align: center; line-height: 35px; font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 1em; color: #000000; cursor: pointer; border-radius: 50%; transition: background-color .25s ease-in-out; background: #f1f1f1; } 
.btn-ul label:hover { background-color: #606060; color: #f1f1f1; } 

#paginacao1:checked ~ .box-vitrines > ul { transition: transform .7s ease-in-out; transform: translateY(5px); } #paginacao1:checked ~ .box-vitrines label[for="paginacao1"] { background-color: #d11507; color: #f1f1f1; } #paginacao2:checked ~ .box-vitrines > ul { transition: transform .7s ease-in-out; transform: translateY(-2038px); } #paginacao2:checked ~ .box-vitrines label[for="paginacao2"] { background-color: #d11507; color: #f1f1f1; } #paginacao3:checked ~ .box-vitrines > ul { transition: transform .7s ease-in-out; transform: translateY(-4080px); } #paginacao3:checked ~ .box-vitrines label[for="paginacao3"] { background-color: #d11507; color: #f1f1f1; } #paginacao4:checked ~ .box-vitrines > ul { transition: transform .7s ease-in-out; transform: translateY(-6125px); } #paginacao4:checked ~ .box-vitrines label[for="paginacao4"] { background-color: #d11507; color: #f1f1f1; }

 /* Clear floats after the columns */
 .row:after,.row2:after { content: "";display:table;clear:both}
@media screen and (max-width:600px){
 .movies-title { margin-top: 7px; }  
.column1{width:23.87%}
.column1:hover{width:23.87%}
.row2{margin-top:2%}
 .box-paginacao .box-vitrines { height: 1142px; }
 .box-paginacao .vitrine1{ height: 1085px; margin-top:28px; }
 .box-paginacao .vitrine2, .box-paginacao .vitrine3, .box-paginacao .vitrine4 { height: 1085px; }
.btn-paginacao { bottom:0px; }
 .btn-ul { margin-right:0; margin-left:0; margin-top:5px; }
 #paginacao1:checked ~ .box-vitrines > ul { transition: transform .7s ease-in-out; transform: translateY(-15px); } #paginacao2:checked ~ .box-vitrines > ul { transform: translateY(-1142px); } #paginacao3:checked ~ .box-vitrines > ul { transform: translateY(-2270px); } #paginacao4:checked ~ .box-vitrines > ul { transform: translateY(-3395px); }}

@media screen and (max-width:520px){
 .movies-title { margin-top: 10px; } 
.column1{width:46.5%;margin-left:2.4%;margin-top:8px}
.column1:hover{width:46.5%}
.row2{margin-top:3%}
.box-paginacao .box-vitrines { height: 2153px; }
 .box-paginacao .vitrine1{ height: 2120px; margin-top:33px; }
 .box-paginacao .vitrine2, .box-paginacao .vitrine3, .box-paginacao .vitrine4 { height: 2120px; }
.btn-paginacao { bottom:0px; } 
.btn-ul { margin-left:0; margin-right:0; margin-top:5px; }
#paginacao1:checked ~ .box-vitrines > ul { transition: transform .7s ease-in-out; transform: translateY(-15px); } #paginacao2:checked ~ .box-vitrines > ul { transform: translateY(-2181px); } #paginacao3:checked ~ .box-vitrines > ul { transform: translateY(-4343px); } #paginacao4:checked ~ .box-vitrines > ul { transform: translateY(-6505px); }}
</style>
